---
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="site-footer-inner">
    <nav>
      <a href="/the-29-shades/">The Shades</a>
      <a href="/essays/">Essays</a>
      <a href="/blueprint/">Blueprint</a>
      <a href="/about/">About</a>
    </nav>
    <p class="footer-copyright">
      &copy; {year} B.E.N. All rights reserved.
    </p>
  </div>
</footer>
